
* {
  box-shadow: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.nav-link-a {
  text-decoration: none;
}

.nav-link-a.active {
  font-weight: bold;
  border-bottom: 2px solid;
}
